.v-card--variant-outlined {
  border-color: rgba(var(--v-theme-borderColor)) !important;
  & .selected {
    border: 1px solid rgb(var(--v-theme-primary)) !important;
    border-radius: inherit;
  }
}
.v-card--variant-elevated,
.v-card--variant-outlined,
.v-card--variant-flat {
  color: rgb(var(--v-theme-textPrimary)) !important;
}

.v-card--flat:not(.box-card) {
  border: 1px solid rgba(var(--v-theme-borderColor)) !important;
}
.card-hover {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover {
    scale: 1.01;
    transition: all 0.1s ease-in 0s;
  }
}

.box-card {
  box-shadow: 0px 7px 16.600000381469727px 0px #00000026 !important;
}

.v-card {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
  .color-inherits {
    color: inherit;
  }
  .feature-card {
    .v-responsive__content {
      height: 100%;
    }
  }
  .v-timeline-divider__before,
  .v-timeline-divider__after {
    background: rgba(var(--v-border-color), 1) !important;
  }
}

// Theme cards
.cardBordered {
  .v-card {
    box-shadow: none !important;
    border: 1px solid rgb(var(--v-theme-borderColor)) !important;
  }
}

.elevation-o-card {
  .v-card-item {
    padding: 0.625rem 1rem !important;
  }
}
