.WARNING {
  padding: 4px 14px;
  color: #fec600;
  border: 1px solid #fec600;
  background-color: #fffbf0;
  border-radius: 8px;
  text-align: center;
}
.ERROR {
  padding: 4px 14px;
  color: #e2362f;
  border: 1px solid #e2362f;
  background-color: #fff3f4;
  border-radius: 8px;
  text-align: center;
}
.SUCCESS {
  padding: 4px 14px;
  color: #15cab8;
  border: 1px solid #15cab8;
  background-color: #f4ffff;
  border-radius: 8px;
  text-align: center;
}
.INFO {
  padding: 4px 14px;
  color: #44a6e9;
  border: 1px solid #44a6e9;
  background-color: #f1f7ff;
  border-radius: 8px;
  text-align: center;
}
