.customize-table {
  border-radius: 12px;
  overflow: hidden;
  --da0d4328: fit-content !important;
  --easy-table-border: 1px solid rgba(var(--v-theme-borderColor)) !important;
  --easy-table-row-border: 1px solid rgba(var(--v-theme-borderColor)) !important;

  --easy-table-header-height: 40px;
  --easy-table-header-font-color: rgba(var(--v-theme-textPrimary));
  --easy-table-header-background-color: rgba(var(--v--theme-background));

  --easy-table-header-item-padding: 10px 15px;

  --easy-table-body-even-row-font-color: rgba(var(--v-theme-textPrimary));
  --easy-table-body-even-row-background-color: rgba(var(--v-theme-background));

  --easy-table-body-row-font-color: rgba(var(--v-theme-textPrimary));
  --easy-table-body-row-background-color: rgba(var(--v--theme-background));
  --easy-table-body-row-height: 30px;
  --easy-table-body-row-font-size: 1rem;

  --easy-table-body-row-hover-font-color: rgba(var(--v-theme-textPrimary));
  --easy-table-body-row-hover-background-color: rgba(var(--v-theme-hoverColor));

  --easy-table-body-item-padding: 5px 7px;

  --easy-table-footer-background-color: rgba(var(--v--theme-background));
  --easy-table-footer-font-color: #c0c7d2;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
  .easy-checkbox label:before {
    border-radius: 4px;
  }
  --fdaf7e9e: #2d3a4f !important;
  th {
    font-weight: 500;
  }
  th .easy-checkbox {
    width: min-content !important;
    margin: 0 !important;
  }
  th:has(.easy-checkbox) {
    width: 20px !important;
    margin: 0 !important;
  }
  .selected-row {
    background-color: rgb(237, 254, 255);
  }
  .loading-entity {
    height: 100%;
    width: 100%;
  }
  .header-text {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 1rem;
  }
  .easy-checkbox label:before {
    border-color: rgba(var(--v-theme-borderColor)) !important;
    background-color: rgba(var(--v-theme-background));
  }
  // .easy-checkbox label:after {
  //   display: none;
  // }
}
