// variant
.v-input--density-default,
.v-field--variant-solo,
.v-field--variant-filled {
  --v-input-control-height: 51px;
  --v-input-padding-top: 14px;
}

// comfortable
.v-input--density-comfortable {
  --v-input-control-height: 44px;
}

// compact
.v-input--density-compact {
  --v-input-padding-top: 10px;
}
.v-label {
  font-size: 0.875rem;
  opacity: 1;
}
.v-switch .v-label,
.v-checkbox .v-label {
  opacity: 1;
}

.v-text-field__suffix {
  opacity: 1;
  padding-left: 20px;
}

.shadow-none .v-field--variant-solo {
  box-shadow: none !important;
}
.v-input--density-compact.v-select .v-input__control {
  min-height: 2.91px;
}
.v-text-field:not(.v-textarea) .v-input__control .v-field {
  min-height: 2.91rem;
  height: 2.91rem;
  & .v-field__field {
    & .v-field__input {
      height: 100% !important;
      min-height: fit-content !important;
    }
  }
}
.min-select.v-input--density-compact.v-select .v-input__control {
  min-height: 20px !important;
  & .v-field__input {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    min-height: 20px !important;
  }
}
.v-input--density-comfortable.v-select .v-input__control {
  min-height: 48px;
}
